---
name: release
on:
  push:
    tags:
      - v*.*.*
jobs:
  release_job:
    name: goreleaser & krew
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.23
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
          version: ~> v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update new version in krew-index
        uses: rajatjindal/krew-release-bot@v0.0.47
