---
name: release
on:
  push:
    tags:
    - 'v*.*.*'
jobs:
  release_job:
    name: goreleaser & krew
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: '^1.19'
    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v3
      with:
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Update new version in krew-index
      uses: rajatjindal/krew-release-bot@v0.0.43
